#dialogue-page {
	position: relative;
	height: 100%;
}

.dialogue-container {
	background-color: #304ffe;
	margin: 10px 0;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 30px;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}

#dialogue-page ul {
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 20px 0px 20px;
	height: 100px;
}

#dialogue-page #dialogueForm {
	min-height: 120px;
	padding: 20px;
}

#dialogue-page ul li {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}

#dialogue-page ul li p {
	margin: 0;
}


.dialogueForm .input-group input {
	border: 0;
	padding: 10px;
	background: whitesmoke;
	width: calc(100% - 85px);
}

.input-group button {
	width: 80px;
	height: 38px;
}

.dialogue-header {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ececec;
}

.dialogue-header h2 {
	margin: 0;
	font-weight: 500;
}


@media screen and (max-width: 730px) {
	.dialogue-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}
}

.dialogue-form  button {
	margin-top: 5px;
	box-shadow: none;
	float: right;
	width: 100px ;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	line-height: 100%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.6rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-height: 38px;
}